<p id="notice"><%= notice %></p>
</div>
  <div class="col-sm">
<h1>Provedores</h1>
</div>

</div>
  <div class="col-sm">
<table>
  <thead>
    <tr>
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <ul>
      <th>Nombre&nbsp;&nbsp;</th>
      <th>Telefono&nbsp;&nbsp;</th>
      <th>Direccion&nbsp;&nbsp;</th>
      <th colspan="3"></th>
      </ol>
      </nav>
    </tr>
  </thead>
  </div>  
  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.name %></td>
        <td><%= provider.cellphone %></td>
        <td><%= provider.address %></td>
        <td><%= link_to 'Mostrar', provider %></td>
        <td><%= link_to 'Editar', edit_provider_path(provider) %></td>
        <td><%= link_to 'Eliminar', provider, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Provedor', new_provider_path %>
<br><br>
<%= link_to 'Inicio', '/' %>