<p id="notice"><%= notice %></p>
</div>
  <div class="col-sm">
<h1>Medicinas</h1>
</div>

</div>
  <div class="col-sm">
<table>
  <thead>
    <tr>
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <ul> 
      <th>Medicina&nbsp;&nbsp; </th>
      <th>Precio&nbsp; &nbsp;</th>
      <th>Cantidad&nbsp; &nbsp;</th>
      <th>Patente&nbsp; &nbsp;</th>
      <th colspan="3"></th>
      </ol>
      </nav>
      </tr>
  </thead>
  </div>

  <tbody>
    <% @medicines.each do |medicine| %>
      <tr>
        <td><%= medicine.name %></td>
        <td><%= medicine.price %></td>
        <td><%= medicine.quantity %></td>
        <td><%= medicine.patent %></td>
        <td><%= link_to 'Mostrar', medicine %></td>
        <td><%= link_to 'Editar', edit_medicine_path(medicine) %></td>
        <td><%= link_to 'Eliminar', medicine, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Medicina', new_medicine_path %>
<br><br>
<%= link_to 'Inicio', '/' %>
