<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @medicine.name %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @medicine.price %>
</p>

<p>
  <strong>Cantidad disponible:</strong>
  <%= @medicine.quantity %>
</p>

<p>
<strong>
  <% if @medicine.patent %>
    Este medicamento es de patente
  <% else %>
    Este medicamento no tiene patente
  <% end %>
</strong>
</p>

<%= link_to 'Edit', edit_medicine_path(@medicine) %> |
<%= link_to 'Back', medicines_path %>

