<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @employee.birthday %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @employee.cellphone %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @employee.sex %>
</p>

<%= link_to 'Editar', edit_employee_path(@employee) %> |
<%= link_to 'Regresar', employees_path %>
